.navigation {

  &__list {
    display: none;
    padding-top: 120px;
    padding-bottom: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
    background-color: $main;
    color: $second;
    z-index: -1;

    @include lg {
      padding-top: 146px;
      padding-bottom: 146px;
    }

    @include xl {
      padding: 0;
      position: static;
      display: flex;
      align-items: center;
      gap: 8px;
      height: auto;
    }
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include xl {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 1000;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    transition: all .2s ease;

    &_active {
      color: $back;
      pointer-events: none;
    }

    &:focus:not(:hover) {
      outline: none;
      color: inherit;
      background-color: $back;
    }

    &:hover {
      outline: none;
      color: $back;
    }

    @include xl {
      padding: 16px 30px;
      display: block;
      border: 2px solid $back;
      border-radius: 80px;

      &_active {
        color: inherit;
        pointer-events: none;
        background-color: $back;
      }
    }
  }

  &__button {
    display: block;
    width: 36px;
    height: 36px;
    background: url('../img/menu.svg') center/contain;

    @include lg {
      width: 50px;
      height: 50px;
    }

    @include xl {
      display: none;
    }

    &_active {
      background-image: url('../img/close.svg');
    }
  }
}